name: buildx
on:
  push:
    paths:
      - .github/workflows/buildx.yml
      - "dockerfiles/buildx/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/buildx.yml
      - "dockerfiles/buildx/**"
      - .github/workflows/reusable.yml

jobs:
  buildx:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: buildx
      version: v0.12.0
