name: compose
on:
  push:
    paths:
      - .github/workflows/compose.yml
      - "dockerfiles/compose/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/compose.yml
      - "dockerfiles/compose/**"
      - .github/workflows/reusable.yml

jobs:
  compose:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: compose
      version: v2.23.3
