name: dlv
on:
  push:
    paths:
      - .github/workflows/dlv.yml
      - "dockerfiles/dlv/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/dlv.yml
      - "dockerfiles/dlv/**"
      - .github/workflows/reusable.yml

jobs:
  dlv:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: dlv
      version: v1.22.0
