name: docker
on:
  push:
    paths:
      - .github/workflows/docker.yml
      - "dockerfiles/docker/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/docker.yml
      - "dockerfiles/docker/**"
      - .github/workflows/reusable.yml

jobs:
  docker:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: docker
      version: v20.10.17
