name: gh
on:
  push:
    paths:
      - .github/workflows/gh.yml
      - "dockerfiles/gh/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/gh.yml
      - "dockerfiles/gh/**"
      - .github/workflows/reusable.yml

jobs:
  gh:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: gh
      version: v2.15.0
