name: golangci-lint
on:
  push:
    paths:
      - .github/workflows/golangci-lint.yml
      - "dockerfiles/golangci-lint/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/golangci-lint.yml
      - "dockerfiles/golangci-lint/**"
      - .github/workflows/reusable.yml

jobs:
  golangci-lint:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: golangci-lint
      version: v1.61.0
