name: gomodifytags
on:
  push:
    paths:
      - .github/workflows/gomodifytags.yml
      - "dockerfiles/gomodifytags/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/gomodifytags.yml
      - "dockerfiles/gomodifytags/**"
      - .github/workflows/reusable.yml

jobs:
  gomodifytags:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: gomodifytags
      version: v1.16.0
