name: helm
on:
  push:
    paths:
      - .github/workflows/helm.yml
      - "dockerfiles/helm/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/helm.yml
      - "dockerfiles/helm/**"
      - .github/workflows/reusable.yml

jobs:
  helm:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: helm
      version: v3.10.1
