name: kubectl
on:
  push:
    paths:
      - .github/workflows/kubectl.yml
      - "dockerfiles/kubectl/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/kubectl.yml
      - "dockerfiles/kubectl/**"
      - .github/workflows/reusable.yml

jobs:
  kubectl:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: kubectl
      version: v1.31.1
