name: mockery
on:
  push:
    paths:
      - .github/workflows/mockery.yml
      - "dockerfiles/mockery/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/mockery.yml
      - "dockerfiles/mockery/**"
      - .github/workflows/reusable.yml

jobs:
  mockery:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: mockery
      version: v3.4.0
