name: stern
on:
  push:
    paths:
      - .github/workflows/stern.yml
      - "dockerfiles/stern/**"
      - .github/workflows/reusable.yml
  pull_request:
    paths:
      - .github/workflows/stern.yml
      - "dockerfiles/stern/**"
      - .github/workflows/reusable.yml

jobs:
  stern:
    uses: ./.github/workflows/reusable.yml
    secrets: inherit
    with:
      name: stern
      version: v1.22.0
